.employee-off-canvas {
  width: 40vh;
  height: calc(100vh - 2rem);
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: beige;
  padding: 1rem 2rem;
  z-index: 1;
}
.employee-off-canvas__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.employee-off-canvas__header-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.employee-off-canvas__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.employee-off-canvas__body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.employee-off-canvas__body-content-image {
  margin: auto;
}
.employee-off-canvas__body-content-details-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.employee-off-canvas__body-content-details-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
.close-button {
  background-color: transparent;
  box-shadow: none;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
